* {
	padding: 0;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

.intWord {
	width: 100%;
	height: 80px;
	background: url(../img/wenzi.png) no-repeat;
	background-position: center;
	/* 	background-size: 80% 300px; */
}

.inputBox {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.imgSch {
	width: 50px;
	height: 52px;
	background-color: white;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: -1px;
}

.inputStyleBox {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.inputStyle {
	width: 60%;
	height: 50px;
	font-size: 22px;
}

.fruitImg1 {
	width: 80%;
	height: 300px;
	background: url(../img/342342.jpg) no-repeat;
	background-size: 400px 450px;
	background-position: center;
	margin: 30px auto;
}

.fruitImg2 {
	width: 80%;
	height: 300px;
	background: url(../img/435345.jpg) no-repeat ;
	background-size: 400px 450px;
	background-position: center;
	margin: 30px auto;
}

.fruitImg3 {
	width: 80%;
	height: 300px;
	background: url(../img/lanmei.jpg) no-repeat;
	background-size: 550px 400px;
	background-position: center;
	margin: 30px auto;
}

.fruitImg4 {
	width: 80%;
	height: 300px;
	background: url(../img/21212.jpg) no-repeat;
	background-size: 450px 550px;
	background-position: center;
	margin: 30px auto;
}

.botBox{
	width: 1100px;
	height: 400px;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.botBoxR{
	width:450px;
	height:400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.shopsWord {
	width: 95%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 600;
	margin-top: -100px;
}


.content1 {
	width: 1100px;
	height: 700px;
	margin: 50px auto;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.content2 {
	width: 1100px;
	height: 600px;
	margin: 50px auto;
	background-color: white;
	display: flex;
	flex-direction: row;
}

.content3 {
	width: 1100px;
	height: 1200px;
	margin: 50px auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fruitBox {
	width: 45%;
	height: 450px;
	display: flex;
	flex-direction: column;
}

.conFruit {
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.conWord {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 150px;
	justify-content: space-around;
}

.word4 {
	font-size: 65px;
	color: black;
	font-weight: 600;
}

.word5 {
	font-size: 40px;
	color: gainsboro;
	font-weight: 600;
}


.content1L {
	width: 60%;
	height: 700px;
}

.content1R {
	width: 40%;
	height: 500px;
}

.contentRWord {
	width: 88%;
	height: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ybox {
	width: 850px;
	height: 100px;
	background-color: #FFC801;
	position: relative;
	top: -100px;
	left: -180px;
}

.ybox2 {
	width: 850px;
	height: 100px;
	background-color: #FFC801;
	position: relative;
	top: -100px;
	left: -10px;
}


.word1 {
	font-size: 150px;
	color: grey;
	font-weight: 700;
}

.word2 {
	font-size: 55px;
	color: black;
	font-weight: 600;
	margin-top: -80px;
}

.COWdown {
	display: flex;
	width: 100%;
	height: 200px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.price {
	color: #ffc801;
	font-size: 28px;
	font-weight: 600;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.yellowBut {
	background-color: #ffc801;
	width: 80%;
	height: 40px;
	border-radius: 15px;
	text-align: center;
	margin: 0 auto;
	line-height: 40px;
	font-size: 24px;
	font-weight: 600;
	color: white;
	box-shadow: 3px 3px 8px black;
	border: solid 1px white;
	cursor: pointer;
}

.yellowBut1 {
	background-color: #ffc801;
	width: 80%;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	margin: 0 auto;
	line-height: 30px;
	font-size: 24px;
	font-weight: 600;
	color: white;
	box-shadow: 3px 3px 8px black;
	border: solid 1px white;
	cursor: pointer;
}

.priceBox {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-around;
}

.priceBox1 {
	display: flex;
	flex-direction: column;
	height: 80px;
	justify-content: space-around;
}

.word3 {
	font-size: 45px;
	color: black;
	font-weight: 600;
	margin-top: -30px;
}

.COWup {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.dav {
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 99;
}

.login {
	width: 20%;
	font-size: 20px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.pot {
	cursor: pointer;
	width: 20%;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.pot:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.daohang {
	width: 60%;
	color: white;
	font-size: 20px;
	/* 	font-weight: 600; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.davBox {
	display: flex;
	flex-direction: row;
	width: 1200px;
	margin: 0 auto;
}

.dav_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	cursor: pointer;
	justify-content: space-around;
}

.dav_logo_word {
	display: flex;
	flex-direction: row;
	width: 25%;
	justify-content: space-between;
	align-items: center;
}

.bannerBox1 {
	width: 100%;
	height: 980px;
	background: url(../img/banner1.jpg);
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bannerBox2 {
	width: 100%;
	height: 980px;
	background: url(../img/banner2.jpg);
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bannerBox3 {
	width: 100%;
	height: 980px;
	background: url(../img/banner3.jpg);
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bannerBox4 {
	width: 100%;
	height: 980px;
	background: url(../img/banner4.jpg);
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	margin-left: auto;
	margin-right: auto;
}
